{{ if isset .Site.Params "clients" }}
{{ if .Site.Params.clients.enable }}
{{ if isset .Site.Data "clients" }}
{{ if gt (len .Site.Data.clients) 0 }}
<section class="bar background-gray no-mb client-carousel">
  <div class="dark-mask"></div>
        <div class="row">
            <div class="col-md-12" id="client-section">
                <div class="heading text-center">
                    <h1 id="client-title">{{ .Site.Params.clients.title | markdownify }}</h1>
                </div>

                <p class="lead">
                  {{ .Site.Params.clients.subtitle | markdownify }}
                </p>

                <ul class="owl-carousel customers" style="margin-bottom: 10px"
                    data-items="{{ default 6 .Site.Params.CarouselCustomers.items }}"
                    data-autoplay="{{ default false .Site.Params.CarouselCustomers.auto_play }}"
                    data-slide-speed="{{ default 2000 .Site.Params.CarouselCustomers.slide_speed }}"
                    data-pagination-speed="{{ default 1000 .Site.Params.CarouselCustomers.pagination_speed }}">
                    {{ range .Site.Data.clients }}
                    <li class="item" id="client-item" title="{{ .name }}">
                      {{ if .url }}
                          <a href="{{ .url }}" target="_blank">
                              <img src="{{.image}}" id="client-img" alt="{{ .name }}" class="img-responsive" />
                              <h2 style="color: white;">{{ .name }}</h2>
                          </a>
                      {{ else }}
                          <img src="{{ .image }}" alt="{{ .name }}" class="img-responsive" />
                      {{ end }}
                  </li>
                    {{ end }}
                </ul>
            </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
