<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    {{ partial "headers.html" . }}
    {{ partial "custom_headers.html" . }}
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  </head>

  <body>

    <div id="all" style="background-color: #2183B2;">

        {{ partial "top.html" . }}

        {{ partial "nav.html" . }}

        {{ partial "carousel.html" . }}

        {{ partial "testimonials.html" . }}

        {{ partial "features.html" . }}

        {{ partial "clients.html" . }}

        {{ partial "see_more.html" . }}

        {{ partial "recent_posts.html" . }}

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
  
</html>
